body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-bar {
  margin: 50px;
  width: 50%;
}

.movie-list img {
  max-width: 75px;
}

.movie-detail {
  margin-top: 0px;
  padding: 20px;
  border: 1px solid #ddd;
}

.list-group {
  text-align: center;
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #ADD8E6;
}

.collections {
  padding-left: 20px;
}

.collections-list {
  max-width: 50px;
}
